.solid-gray-0 {
  background-color: #f1f1f1;
  border-radius: 20rpx;
  box-sizing: border-box;
}

.solid-green-0 {
  background-color: #3f6911;
  border: #3f6911 solid 4rpx;
  border-radius: 16rpx;
  box-sizing: border-box;
}

.outline-green-0 {
  background-color: #fff;
  border: #7ed321 solid 4rpx;
  border-radius: 16rpx;
  box-sizing: border-box;
}
.outline-green-1 {
  background-color: #f1f1f1;
  border: #7ed321 solid 4rpx;
  border-radius: 16rpx;
  box-sizing: border-box;
}

.outline-green-2 {
  background-color: #f1f1f1;
  border: #3f6911 solid 4rpx;
  border-radius: 16rpx;
  box-sizing: border-box;
}

.outline-gray-0 {
  border: 4rpx #e7e7e7 solid;
  background-color: #ededed;
  border-radius: 16rpx;
  box-sizing: border-box;
}

.outline-gray-1 {
  border: 4rpx #9b9b9b solid;
  background-color: #ededed;
  border-radius: 16rpx;
  box-sizing: border-box;
}
