/* dial */
.dial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.dial-numerical {
  font-family: 'DIN Condensed';
  font-size: 40px;
  font-weight: bold;
  line-height: 30px;
}
.dial-numerical-current {
  font-size: 50px;
}
.dial-goal {
  font-size: 14px;
  color: #9b9b9b;
}

/* statistic */
.statistic-container {
  display: flex;
  justify-content: space-between;
  width: 303px;
  margin-top: 28px;
}

.statistic-small-text {
  font-size: 16px;
}

/* panel */
.panel-text {
  font-size: 16px;
  text-align: center;
  line-height: 45px;
  color: #4a4a4a;
}

/* record */
.record-title {
  display: flex;
  width: 342px;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  margin-top: 15px;
}
.record-list {
  margin-top: 14px;
  padding-bottom: 14px;
}

.record-item {
  display: flex;
  padding: 0 15px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: #353535;
  margin-top: 6px;
  margin-bottom: 6px;
}
.record-item-left {
  font-size: 14px;
}
.record-item-date {
  font-family: 'DIN Condensed';
  font-size: 18px;
  margin-left: 8px;
}
.record-item-duration {
  margin-left: 16px;
  color: #9b9b9b;
}
.record-item-right {
  font-family: 'DIN Condensed';
  font-size: 18px;
}

.record-grid {
  display: grid;
  grid-template-columns: repeat(5, 63px);
  column-gap: 8px;
  row-gap: 8px;
}
.record-gird-group {
  margin-top: 4.5px;
  margin-bottom: 4.5px;
  overflow: hidden;
}
.record-grid-group-title {
  color: #c0c4cc;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.record-grid-group-item {
  position: relative;
}

.record-grid-group-item-day {
  position: absolute;
  top: 2px;
  right: 4px;
  font-size: 20px;
  font-weight: 500;
  color: #417505;
}

.record-grid-group-item-mood {
  font-size: 13px;
}

.record-grid-group-item-speed {
  position: absolute;
  top: 33px;
  left: 6px;
  font-family: 'DIN Condensed';
  font-size: 18px;
  font-weight: 500;
  color: #9b9b9b;
}

.record-grid-group-item-ranking {
  position: absolute;
  top: 51px;
  left: 6px;
  font-family: 'DIN Condensed';
  font-size: 18px;
  font-weight: 500;
  color: #353535;
}

.record-grid-group-item-day--umcomplete {
  color: #9b9b9b;
}

/* home */
.container {
  align-items: center;
}

.panels {
  display: flex;
  width: 312px;
  justify-content: space-between;
  margin-top: 13px;
}

.dial {
  margin-top: 24px;
}

.divider {
  margin-top: 14px;
}

/* home rank list */
.rank-title-container {
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-left: 23px;
}

.rank-title {
  font-weight: 500;
  color: #353535;
  font-size: 22px;
  margin-right: 5px;
}

.rank-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

.rank-board-item {
  width: 285px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.rank-board-item-sub {
  display: flex;
  align-items: center;
}

.rank-board-item-ranking {
  font-family: 'DIN Condensed';
  font-weight: 500;
  font-size: 30px;
  color: #353535;
  margin-right: 10.5px;
}

.rank-board-avatar-wrapper {
  margin-right: 7px;
}

.rank-board-item-info {
  margin-right: 7px;
}

.rank-board-item-name {
  font-weight: 500;
  font-size: 16px;
  color: #353535;
}

.rank-board-item-duration {
  font-weight: 500;
  font-size: 12px;
  color: #9b9b9b;
}

.rank-board-item-speed {
  font-family: 'DIN Condensed';
  font-weight: 500;
  font-size: 24px;
  color: #353535;
}

.rank-board-item-like {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: #dcdfe6;
  margin-left: 11px;
}

.rank-mine-wrapper {
  background-color: #f1f1f1;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 74px;
}

.rank-mine-container {
  margin: 0 auto;
  width: 285px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rank-mine-sub {
  display: flex;
  align-items: center;
}

.rank-mine-ranking {
  font-family: 'DIN Condensed';
  font-size: 14px;
  font-weight: 500;
  color: #353535;
  margin-right: 11px;
}

.rank-mine-avatar-wrapper {
  margin-right: 7px;
}

.rank-mine-info {
  display: flex;
  flex-direction: column;
}

.rank-mine-username {
  font-weight: 500;
  font-size: 16px;
  color: #353535;
}

.rank-mine-duration {
  font-size: 12px;
  color: #9b9b9b;
}

.rank-mine-speed {
  font-weight: 500;
  font-size: 24px;
  color: #353535;
}

.rank-mine-share-wrapper {
  margin-left: 11px;
  font-family: 'DIN Condensed';
}

/* home page history record */

.history-title {
  color: #353535;
  font-weight: 500;
  font-size: 22px;
  margin-top: 23px;
  margin-left: 23px;
}

.history-list {
  margin-top: 11px;
  margin-left: 23px;
}

.history-list-item {
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-list-item-content {
  display: flex;
  align-items: flex-end;
  width: 256px;
  justify-content: space-between;
}

.history-list-item-annual {
  font-weight: 500;
  font-size: 14px;
  color: #353535;
}

.history-list-item-term {
  font-weight: 500;
  font-size: 12px;
  color: #353535;
}

.history-list-item-count-wrapper {
  font-weight: 500;
  font-size: 13px;
  color: #353535;
}

.history-list-item-count {
  font-size: 26px;
  font-family: 'DIN Condensed';
}
