/* dial */
.dial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.dial-numerical {
  font-family: 'DIN Condensed';
  font-size: 80rpx;
  font-weight: bold;
  line-height: 60rpx;
}
.dial-numerical-current {
  font-size: 100rpx;
}
.dial-goal {
  font-size: 28rpx;
  color: #9b9b9b;
}

/* statistic */
.statistic-container {
  display: flex;
  justify-content: space-between;
  width: 606rpx;
  margin-top: 56rpx;
}

.statistic-small-text {
  font-size: 32rpx;
}

/* panel */
.panel-text {
  font-size: 32rpx;
  text-align: center;
  line-height: 90rpx;
  color: #4a4a4a !important;
  background-color: #f1f1f1 !important;
  border-radius: 20rpx;
  box-sizing: border-box;
}
.panel-text::after {
  border: none;
}

/* record */
.record-title {
  display: flex;
  width: 684rpx;
  justify-content: space-between;
  font-weight: 500;
  font-size: 32rpx;
  margin-top: 30rpx;
}
.record-list {
  margin-top: 28rpx;
  padding-bottom: 28rpx;
}

.record-empty {
  width: 222rpx;
  height: 222rpx;
  margin: 84rpx auto;
  display: block;
}

.record-item {
  display: flex;
  padding: 0 30rpx;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: #353535;
  margin-top: 12rpx;
  margin-bottom: 12rpx;
}
.record-item-left {
  font-size: 28rpx;
}
.record-item-date {
  font-family: 'DIN Condensed';
  font-size: 36rpx;
  margin-left: 16rpx;
}
.record-item-duration {
  margin-left: 32rpx;
  color: #9b9b9b;
}
.record-item-right {
  font-family: 'DIN Condensed';
  font-size: 36rpx;
}

.record-grid {
  display: grid;
  grid-template-columns: repeat(5, 126rpx);
  column-gap: 16rpx;
  row-gap: 16rpx;
}
.record-gird-group {
  margin-top: 9rpx;
  margin-bottom: 9rpx;
  overflow: hidden;
}
.record-grid-group-title {
  color: #c0c4cc;
  font-size: 28rpx;
  font-weight: 500;
  margin-bottom: 16rpx;
}

.record-grid-group-item {
  position: relative;
}

.record-grid-group-item-day {
  position: absolute;
  top: 4rpx;
  right: 8rpx;
  font-size: 40rpx;
  font-weight: 500;
  color: #417505;
}

.record-grid-group-item-mood {
  font-size: 26rpx;
}

.record-grid-group-item-speed {
  position: absolute;
  top: 66rpx;
  left: 12rpx;
  font-family: 'DIN Condensed';
  font-size: 36rpx;
  font-weight: 500;
  color: #9b9b9b;
}

.record-grid-group-item-ranking {
  position: absolute;
  top: 102rpx;
  left: 12rpx;
  font-family: 'DIN Condensed';
  font-size: 36rpx;
  font-weight: 500;
  color: #353535;
}

.record-grid-group-item-day--umcomplete {
  color: #9b9b9b;
}

/* home */
.container {
  align-items: center;
  padding-bottom: 80rpx;
}

.panels {
  display: flex;
  width: 624rpx;
  justify-content: space-between;
  margin-top: 26rpx;
}

.dial {
  margin-top: 48rpx;
}

.divider {
  margin-top: 24rpx;
}

/* home rank list */
.rank-title-container {
  display: flex;
  align-items: center;
  padding-top: 46rpx;
  padding-left: 46rpx;
}

.rank-title {
  font-weight: 500;
  color: #353535;
  font-size: 44rpx;
  margin-right: 10rpx;
}

.rank-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24rpx;
}

.rank-board-item {
  width: 570rpx;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.rank-board-item-sub {
  display: flex;
  align-items: center;
}

.rank-board-item-ranking {
  font-family: 'DIN Condensed';
  font-weight: 500;
  font-size: 60rpx;
  color: #353535;
  margin-right: 21rpx;
}

.rank-board-avatar-wrapper {
  margin-right: 14rpx;
}

.rank-board-item-info {
  margin-right: 14rpx;
}

.rank-board-item-name {
  font-weight: 500;
  font-size: 32rpx;
  color: #353535;
}

.rank-board-item-duration {
  font-weight: 500;
  font-size: 24rpx;
  color: #9b9b9b;
}

.rank-board-item-speed {
  font-family: 'DIN Condensed';
  font-weight: 500;
  font-size: 48rpx;
  color: #353535;
}

.rank-board-item-like {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20rpx;
  color: #dcdfe6;
  margin-left: 22rpx;
}

.rank-mine-wrapper {
  background-color: #f1f1f1;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 148rpx;
}

.rank-mine-container {
  margin: 0 auto;
  width: 570rpx;
  height: 144rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rank-mine-sub {
  display: flex;
  align-items: center;
}

.rank-mine-ranking {
  font-family: 'DIN Condensed';
  font-size: 28rpx;
  font-weight: 500;
  color: #353535;
  margin-right: 22rpx;
}

.rank-mine-avatar-wrapper {
  margin-right: 14rpx;
}

.rank-mine-info {
  display: flex;
  flex-direction: column;
}

.rank-mine-username {
  font-weight: 500;
  font-size: 32rpx;
  color: #353535;
}

.rank-mine-duration {
  font-size: 24rpx;
  color: #9b9b9b;
}

.rank-mine-speed {
  font-weight: 500;
  font-size: 48rpx;
  color: #353535;
}

.rank-mine-share-wrapper {
  margin-left: 22rpx;
  font-family: 'DIN Condensed';
}

/* home page history record */

.history-title {
  color: #353535;
  font-weight: 500;
  font-size: 44rpx;
  margin-top: 46rpx;
  margin-left: 46rpx;
}

.history-list {
  margin-top: 122rpx;
  margin-left: 35rpx;
}

.history-list-item {
  margin-top: 8rpx;
  margin-bottom: 8rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-list-item-content {
  display: flex;
  align-items: flex-end;
  width: 512rpx;
  justify-content: space-between;
}

.history-list-item-annual {
  font-weight: 500;
  font-size: 28rpx;
  color: #353535;
}

.history-list-item-term {
  font-weight: 500;
  font-size: 24rpx;
  color: #353535;
}

.history-list-item-count-wrapper {
  font-weight: 500;
  font-size: 26rpx;
  color: #353535;
}

.history-list-item-count {
  font-size: 52rpx;
  font-family: 'DIN Condensed';
}

.unbind-container {
  display: grid;
  place-items: center;
  color: #4a4a4a;
  margin-top: 30rpx;
}

.empty-text {
  color: rgba(0, 0, 0, 0.5);
  margin: 20rpx auto;
}
