.container {
  width: 572rpx;
  height: 572rpx;
  clip-path: circle(50%);
  position: relative;
  background-color: #f5f7fa;
}
.outer {
  width: 572rpx;
  height: 572rpx;
  position: absolute;
  top: 0;
  left: 0;
}
.gap {
  width: 538rpx;
  height: 538rpx;
  background-color: #fff;
  position: absolute;
  top: 17rpx;
  left: 17rpx;
  clip-path: circle(50%);
}
.inner {
  width: 510rpx;
  height: 510rpx;
  clip-path: circle(50%);
  position: absolute;
  top: 14rpx;
  left: 14rpx;
}
.content {
  background-color: #fff;
  width: 312rpx;
  height: 312rpx;
  top: 99rpx;
  left: 99rpx;
  position: absolute;
  clip-path: circle(50%);
}
