.edit {
  width: 24rpx;
  height: 24rpx;
  padding: 4rpx;
}
.question {
  width: 28rpx;
  height: 28rpx;
  vertical-align: middle;
}

.grid-mode {
  width: 36rpx;
  height: 36rpx;
}

.list-mode {
  width: 36rpx;
  height: 36rpx;
}

.share {
  width: 48rpx;
  height: 38rpx;
}

.cow {
  width: 34rpx;
  height: 34rpx;
}

.login-icon {
  width: 38rpx;
  height: 42rpx;
  flex-shrink: 0;
}

.next {
  width: 32rpx;
  height: 26rpx;
}
