.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map {
  width: 100%;
  flex: 1;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 542rpx;
}

.info-timer {
  display: flex;
  justify-content: space-between;
  width: 672rpx;
  padding-top: 56rpx;
  padding-bottom: 21rpx;
  font-size: 28rpx;
  color: #9b9b9b;
}
.info-timer-time {
  font-weight: 600;
  font-size: 100rpx;
  color: #353535;
  font-family: 'DIN Condensed';
}

.info-statistic-container {
  display: flex;
  justify-content: space-between;
  width: 606rpx;
  margin-top: 21rpx;
}

.button-container {
  margin-top: 20rpx;
}

.button-text {
  font-size: 36rpx;
  color: #ffffff;
  font-weight: 500;
}

.divider {
  height: 2rpx;
  color: #f1f1f1;
}

.button-container {
  display: flex;
  width: 628rpx;
  justify-content: space-between;
}

.motion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30rpx;
  width: 100%;
}
.motion-title {
  font-size: 36rpx;
  color: #353535;
  font-weight: 600;
  width: 670rpx;
  margin-bottom: 20rpx;
}

.motion-scroll-view {
  padding-left: 40rpx;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
}

.motion-scroll-view-item {
  margin: 0 8rpx;
  display: grid;
  place-items: center;
}
.motion-scroll-view-item-img {
  width: 62rpx;
  height: 62rpx;
}

.fader {
  background: linear-gradient(to right, #47b13d, #ffffff);
  height: 8rpx;
}

.rank-text {
  font-size: 28rpx;
  font-weight: 500;
  font-family: initial;
}

/** 完成跑操 */
.info--finish {
  height: 818rpx;
}
.info-timer-time--finish {
  font-size: 36rpx;
  font-family: initial;
  font-weight: initial;
}
.info-timer-time-numberic--finish {
  font-size: 100rpx;
  font-family: 'DIN Condensed';
}

.info-statistic-container--finish {
  margin-bottom: 36rpx;
}
